<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form</title>
  </head>
  <body>
    <h1>Submit your data: data will be stored in MongoBD database...</h1>
    <form method="post" action="/">
      <label>Name:</label>
      <input type="text" name="name" />
      <label>Email:</label>
      <input type="text" name="email" />
      <label>Password:</label>
      <input type="text" name="password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
